* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header nav {
    height: 15vh;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.nav-logo img {
    width: 70px;
}

.nav-logo h3 {
    font-size: 2rem;
    color: #0B0223;
}

.nav-logo .pink {
    color: #FF42A5;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #3C354F;
}

.nav-menu ul li a:hover {
    color: #FF42A5;
    transition: 0.2s;
}

.special-nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px 20px;
}

.special-nav-link .follow {
    margin-right: 5px;
}

.special-nav-link .fa-youtube {
    font-size: 1.3rem;
    color: red;
}

.fa-tiktok {
    font-size: 1.2rem;
    color: #0B0223;
}
.banner-section {
    background: url("../images/Group\ 14.png");
    background-position: left bottom;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.banner-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    width: 50%;
}

.heading-banner-description {
    margin-bottom: 20px;
}

.heading-banner-description h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 650;
    color: #0B0223;
}

.heading-banner-description h1 {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description-lists {
    margin-bottom: 30px;
}

.banner-description-lists ul li {
    list-style: none;
    color: #534C64;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.banner-description-lists ul li i {
    color: #FF42A5;
    margin-right: 5px;
}

.banner-description-buttons button {
    padding: 13px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 650;
    margin-right: 10px;
}

.firstbtn {
    background-color: #e73e96;
}

.firstbtn:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.secendbtn {
    background-color: #41b5e7;
}

.secendbtn:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 100%;
}
.secend-banner {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.secend-banner-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 40px;
}

.secend-banner-image {
    width: 60%;
}

.secend-banner-image img {
    width: 100%;
}

.secend-banner-description {
    width: 40%;
    text-align: right;
}

.secend-banner-description h2 {
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.secend-banner-description p {
    color: #534C64;
    text-align: right;
    font-size: 0.9rem;
    line-height: 20px;
    margin-bottom: 20px;
}

.secend-banner-description button {
    padding: 13px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.secend-banner-description .purpose h3 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

.secend-banner-description .purpose h3 small {
    font-weight: 500;
    font-size: 1rem;
}
.online-games-section {
    max-width: 1100px;
    margin: 0 auto;
}

.online-games-container {
    padding: 50px 0px;
}

.online-games-descriptions {
    text-align: center;
    margin-bottom: 40px;
}

.online-games-descriptions h2 {
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 700;
}

.online-games-descriptions .linear-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-descriptions p {
    font-size: 0.9rem;
    color: #534C64;
    margin: 10px 0px;
}

.online-games-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.card img {
    width: 100%;
}

.card p {
    font-size: 0.9rem;
    color: #534C64;
}
.play-section {
    max-width: 1100px;
    margin: 0 auto;
}

.play-section .play-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.play-description {
    width: 50%;
    text-align: right;
}

.play-description h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

.play-container h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-images {
    width: 50%;
    position: relative;
}

.play-images .main-image {
    width: 100%;
}

.play-images .secondary-image {
    width: 50%;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: absolute;
    top: 250px;
    left: -120px;
}
.second-play-section {
    max-width: 1100px;
    margin: 0 auto;
}

.second-play-section .second-play-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding-top: 100px;
}

.second-play-description {
    width: 50%;
    text-align: left;
}

.second-play-description h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

.second-play-container h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-play-images {
    width: 50%;
    position: relative;
}

.second-play-images .main-image {
    width: 100%;
}

.second-play-images .secondary-image {
    width: 50%;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    position: absolute;
    top: 250px;
    right: -100px;
}
.career-section {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-container {
    max-width: 1100px;
    margin: 150px auto 0px auto;
    padding: 70px 0px;
    display: flex;
    align-items: center;
}

.career-description {
    width: 45%;
}

.career-description h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 25px;
}

.career-description>p {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 25px;
    line-height: 20px;

}

.jobs {
    display: flex;
    justify-content: space-between;
}

.jobs p {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 30px;
}

.job-location {
    text-align: right;
}

.career-description button {
    background-color: #fff;
    padding: 13px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #FF42A5;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
}

.career-description button:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.career-image {
    width: 55%;
}

.career-image img {
    width: 100%;
}
.arcade-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.arcade-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 70px 0px;
}

.arcade-games {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 40px;
    background-color: #FFF;
    border: 1.5px solid #FFF;
    cursor: pointer;
}

.arcade-games:hover {
    border: 1.5px solid #FF42A5;
    transition: 0.2s;
}

.arcade-games img {
    width: 50px;
}

.arcade-games h5 {
    font-size: 0.9rem;
    color: #0B0223;
    font-weight: 600;
}

.arcade-games:hover.arcade-games h5 {
    color: #FF42A5;
    transition: 0.2s;
}
footer {
    background: #0B0223;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.footer-logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 70px;
}

.footer-logo h3 {
    font-size: 2rem;
    color: #FFF;
}

.footer-logo .pink {
    color: #FF42A5;
}

.footer-menus {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    justify-items: center;
}

.footer-menus a {
    color: #FFF;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
    padding: 10px;
}

.footer-menus a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    justify-items: center;
}

.footer-icons a {
    color: #FFF;
    font-size: 1.7rem;
}

.footer-icons a:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    justify-items: center;
}

.footer-links a {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-decoration: none;
}

.footer-links a:hover {
    color: white;
}

.footer-text p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
}
@media screen and (max-width:425px) {
    header nav {
        height: auto;
        box-shadow: none;
    }

    .nav-container {
        height: auto;
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-menu ul {
        margin-top: 30px;
        flex-direction: column;
    }

    .banner-section {
        background: none;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .banner-image img {
        width: 70%;
    }

    .banner-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .banner-description-headings h2 {
        font-size: 2.2rem;
        text-align: center;
    }

    .banner-description-headings h1 {
        font-size: 4.5rem;
    }

    .gamer-section {
        background: none;
    }

    .gamer-container {
        flex-direction: column;
        gap: 10px;
    }

    .gamer-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gamer-image img {
        width: 70%;
    }

    .gamer-description {
        width: 70%;
        text-align: center;
    }

    .gamer-description h2 {
        font-size: 2rem;
        text-align: center;
    }

    .gamer-description p {
        font-size: 0.8rem;
        text-align: center;
    }

    .gamer-description .purpose h3 {
        font-size: 1.2rem;
    }

    .online-games-descriptions h2 {
        font-size: 1.4rem;
    }

    .online-games-descriptions p {
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .online-games-cards {
        width: 65%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .card p {
        text-align: center;
        font-size: 0.8rem;
    }

    .play-section .play-container {
        flex-direction: column;
        gap: 50px;
    }

    .play-description {
        width: 70%;
        text-align: center;
    }

    .play-description h2 {
        font-size: 1.8rem;
    }

    .play-description p {
        font-size: 0.8rem;
    }

    .play-images {
        width: 55%;
    }

    .play-images .secondary-image {
        width: 50%;
        top: 180px;
        left: -50px;
    }

    .second-play-section .second-play-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .second-play-description {
        width: 70%;
        text-align: center;
    }

    .second-play-description h2 {
        font-size: 1.8rem;
    }

    .second-play-description p {
        font-size: 0.7rem;
    }

    .second-play-images {
        width: 55%;
    }

    .second-play-images .secondary-image {
        width: 50%;
        top: 150px;
        right: -50px;
    }

    .career-container {
        flex-direction: column;
        gap: 70px;
    }

    .career-description {
        width: 70%;
    }

    .career-description h2 {
        font-size: 1.8rem;
    }

    .career-description p {
        font-size: 0.8rem;
    }

    .career-description button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .career-image {
        width: 80%;
    }

    .arcade-container {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .arcade-games img {
        width: 30px;
    }

    .arcade-games h5 {
        font-size: 0.7rem;
    }

    .footer-logo img {
        width: 50px;
    }

    .footer-logo h3 {
        font-size: 1.5rem;
        color: #FFF;
    }

    .footer-menus {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}


@media screen and (min-width:426px) and (max-width: 768px) {
    header nav {
        height: auto;
        box-shadow: none;
    }

    .nav-container {
        height: auto;
        flex-direction: column;
        padding-top: 40px;
    }

    .nav-menu ul {
        margin-top: 30px;
        flex-direction: column;
    }

    .banner-section {
        background: none;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .banner-image img {
        width: 75%;
    }

    .banner-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .banner-description-headings h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .banner-description-headings h1 {
        font-size: 5rem;
    }

    .gamer-section {
        background: none;
    }

    .gamer-container {
        flex-direction: column;
        gap: 15px;
    }

    .gamer-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gamer-image img {
        width: 75%;
    }

    .gamer-description {
        width: 75%;
        text-align: center;
    }

    .gamer-description h2 {
        font-size: 2.3rem;
        text-align: center;
    }

    .gamer-description p {
        font-size: 0.9rem;
        text-align: center;
    }

    .gamer-description .purpose h3 {
        font-size: 1.5rem;
    }

    .online-games-descriptions h2 {
        font-size: 1.5rem;
    }

    .online-games-descriptions p {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .online-games-cards {
        width: 75%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .card p {
        text-align: center;
        font-size: 0.9rem;
    }

    .play-section .play-container {
        flex-direction: column;
        gap: 50px;
    }

    .play-description {
        width: 75%;
        text-align: center;
    }

    .play-description h2 {
        font-size: 2rem;
    }

    .play-description p {
        font-size: 0.9rem;
    }

    .play-images {
        width: 60%;
    }

    .play-images .secondary-image {
        width: 50%;
        top: 280px;
        left: -90px;
    }

    .second-play-section .second-play-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .second-play-description {
        width: 75%;
        text-align: center;
    }

    .second-play-description h2 {
        font-size: 2rem;
    }

    .second-play-description p {
        font-size: 0.8rem;
    }

    .second-play-images {
        width: 60%;
    }

    .second-play-images .secondary-image {
        width: 50%;
        top: 220px;
        right: -80px;
    }

    .career-container {
        flex-direction: column;
        gap: 70px;
    }

    .career-description {
        width: 75%;
    }

    .career-description h2 {
        font-size: 2rem;
    }

    .career-description p {
        font-size: 0.9rem;
    }

    .career-image {
        width: 80%;
    }

    .arcade-container {
        width: 65%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .arcade-games img {
        width: 30px;
    }

    .arcade-games h5 {
        font-size: 0.7rem;
    }

    .footer-logo img {
        width: 70px;
    }

    .footer-logo h3 {
        font-size: 1.8rem;
        color: #FFF;
    }

    .footer-menus {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .footer-text p {
        font-size: 0.7rem;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .nav-container {
        max-width: 770px;
    }

    .banner-container {
        max-width: 770px;
    }

    .gamer-container {
        max-width: 770px;
    }

    .online-games-section {
        max-width: 770px;
    }

    .card-container {
        max-width: 300px;
    }

    .play-section {
        max-width: 770px;
    }

    .second-play-section {
        max-width: 770px;
    }

    .career-container {
        max-width: 770px;
    }

    .arcade-container {
        max-width: 770px;
    }

    .footer-container {
        max-width: 770px;
    }
}